.about-page {
  z-index: 1;
  grid-row: 2;
  grid-column: 2;
}

.about-card {
  margin: 10% 0%;
  grid-row: 2;
  grid-column: 2
}

.about-card h1 {
  font-family: 'Poppins';
  color: black;
  font-size: 1.3rem;
}

.left-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-90deg);
}

.right-nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(90deg);
}

.mapped-interests {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* position: relative;
  top: 40%; */
}

.core-interests {
  text-align: center;
  position: relative;
  top: 35vh;
}

.core-interest h1 {
  font-size: 1.5rem;
}

.interest:hover {
  transform: scale(1.5);
  -webkit-filter: drop-shadow(.5rem .2rem .2rem rgba(244, 212, 54, 0.94));
}

.interest:hover + div {
  transform: scale(1.2);
  -webkit-filter: drop-shadow(.5rem .2rem .2rem pink);
}

/* post processing lib axe?
.interest:hover ? div {
  transform: scale(1.2);
  -webkit-filter: drop-shadow(.5rem .2rem .2rem pink);
} */

/* . + .interest:hover {
  transform: scale(1.2);
  -webkit-filter: drop-shadow(.5rem .2rem .2rem pink);
} */

.interest-icon {
  width: 3rem;
}
