.about-page {
  z-index: 1;
  grid-row: 1/3;
  grid-column: 2/4;
  display: flex;
  justify-content: space-between;
}

.about-card.active {
  z-index: 4;
  position: absolute;
  display: block;
  width: 35%;
  right: 0;
  height: 100vh;
  background: #A6ACAF;
  padding: 10vh 1vw;
  color: white;
  opacity: .98;
  transition: all ease-in .4s;
}

.about-card.hidden{
  z-index: 4;
  position: absolute;
  /* display: none; */
  width: 0%;
  right: 0;
  height: 100vh;
  background: #A6ACAF;
  padding: 10vh 1vw;
  color: white;
  opacity: 0;
  transition: all ease-in .4s;
}

.about-card img {
  width: 30px;
  height: 30px;
  margin: -12vh 0 .5rem 0;
  filter: invert(100%);
}

.about-card img:hover {
  cursor: pointer;
  filter: invert(10%);
}

.about-card h1 {
  margin-bottom: 1rem;
  font-size: 26px;
  color: white;
}

.about-card h4 {
  color: white;
  font-size: 18px;
  margin-bottom: 1rem;
}

/* CORE INTERESTS */

.mapped-interests {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

.core-interests {
  text-align: center;
  position: relative;
}

.core-interests h1 {
  font-size: 1.4rem;
}

.interest img {
   transition: all .1s ease-in-out;
}

.interest img:hover {
  transform: scale(1.5) rotate(-10deg);
  -webkit-filter: drop-shadow(.2rem .1rem .1rem rgba(244, 212, 54, 0.94));
}

.interest-icon {
  width: 3.5rem;
  margin: .4rem 0;
}

@media (min-width: 768px) {
  .interest {
    width: 12vw;
    height: 12vw;
  }
}

@media (max-width: 767px) {
  .interest {
    width: 20vw;
    height: 20vw;
  }

  .about-card.active {
    z-index: 4;
    position: absolute;
    display: block;
    width: 88vw;
    right: 0;
    height: 120vh;
    background: #A6ACAF;
    padding: 10vh 10vw;
    color: white;
    opacity: .98;
    transition: all ease-in .4s;
  }

}
