@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* yellow: #F4E5BD */
/* pink: #ED908C */
/* blue: #4A8391 */
/* green: #A1CEAB */
/* lime: #D2E5C5 */
/* grey: #E5E5E3 */

.page {
  padding: 2%;
  background: cover;
  height: stretch;
}

.pink {
  background-color: #C8828B;
}

.blue {
  background-color: #596075;
}

.purple {
  background-color: #784950;
}

.grey {
  background-color: #CFD2D1;
}

.circle-holder {
  display: flex;
  margin: 0 10%;
  justify-content: center;
}

.small-circle {
  background-color: white;
  margin: 2% 5%;
  border-radius: 50px;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  /* border: black solid 2px; */
  box-shadow: black 1px 1px;
}

.active {
  background-color: lightgrey;
}

.small-circle:hover {
  background-color: lightgrey;
}

.page-card {
  margin: 10% 10% 0% 10%;
  /* border: solid white 1px; */
  padding: 2%;
  height: 14rem;
  align-items: center;
  /* box-shadow: #ffeb3b 3px 3px; */
}

.page-card h1 {
  /* font-family: 'Shadows Into Light'; */
  color: white;
  font-family: 'Fredericka the Great';
  font-size: 3rem;
}

.page-card h3 {
  font-family: 'Josefin Sans';
}

/* logo spinner */
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
