@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.app {
  display: grid;
  grid-template-columns: 50px 10fr 1fr;
  grid-gap: 4vw;
  grid-template-rows: 40px 1fr;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Josefin Sans';
  background-color: #fff;
}

.home-page {
  z-index: 1;
  grid-row: 1/3;
  grid-column: 2;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.page-card h1 {
  font-family: 'Poppins';
  color: black;
  font-size: 2rem;
}

.card-link {
  text-decoration: underline;
}

.card-link:hover {
  color: #17202A;
}

.profile-image {
  z-index: 2;
  width: 20vh;
  height: 20vh;
  /* right: 3.5vh; */
  /* top: 13vh; */
  border-radius: 100%;
  border: solid lightgrey 1px;
  transition: width .15s linear;
}

.home-divider {
  margin: 10vh 2vw;
  display: flex;
  justify-content: space-between;
  height: 40vh;
}

@media (min-width: 768px) {
  .home-divider {
    height: 20vh;
  }
}

@media (max-width: 767px) {
  .home-divider {
    height: 34vh;
    margin-bottom: 4vh;
  }

  .profile-image {
    width: 16vh;
    height: 16vh;
  }

  .page-card {
    width: 40vw;
  }
}


/* logo spinner */
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
