
.contact {
  grid-row: 3;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  font-weight: bold;
  border-top: solid #17202A 1px;
  border-left: solid #17202A 1px;
  border-right: solid #17202A 1px;
  background-color: #17202A;
  color: white;
  transition: height .25s cubic-bezier(0, .25, 1, .75);
  z-index: 100;
  cursor: pointer;
}

.contact h3, .contact h4 {
  color: white;
}

.open {
  height: 130px;
}

.closed {
  height: 40px;
}

.extra-contact {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  transition: all .2s ease-in-out;
}

.contact-icons {
  width: 2rem;
}
