
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-row: 3;
  grid-column: 2;
  z-index: 1;
  font-weight: bold;
  border-top: solid #E9E9EA 1px;
  border-left: solid #E9E9EA 1px;
  border-right: solid #E9E9EA 1px;
  background-color: white;
  transition: height .25s cubic-bezier(0, .25, 1, .75);
}

.open {
  height: 130px;
}

.closed {
  height: 40px;
}

.extra-contact {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  transition: all .2s ease-in-out;
}

.contact-icons {
  width: 2rem;
}
