.nav-words {
  font-size: 14px;
  color: black;
}

.nav-words.icons {
  font-size: 20px;
  margin: 0 .3rem;
}

.nav-words.icons:hover {
  color: #BFD0E6;
}

.navbar {
  grid-row: 1;
  grid-column: 1/4;
  padding: 10px .3rem;
  z-index: 3;
  background-color: white;
  color: black;
  border-bottom: solid #E9E9EA 1px;
}
