.nav-words {
  font-size: 50px;
  color: white;
  margin: 1.2rem 0;
  font-weight: 400;
}

.nav-words.icons {
  font-size: 30px;
  line-height: 72px;
}

.nav-words.active, .nav-words:hover  {
  color: #17202A;
  -webkit-text-stroke: 2px white;
  cursor: pointer;
}

.nav-words.icons.active, .nav-words.icons:hover  {
  -webkit-text-stroke: 0px white;
  color: #17202A;
  text-shadow:
		-1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF;
}

.navbar.vertical {
  position: fixed;
  height: 100vh;
  grid-row: 1/4;
  grid-column: 1;
  padding: 1vh 12px;
  z-index: 10;
  background-color: #17202A;
  color: white;
  border-bottom: solid #17202A 1px;
  width: 60px;
  display: flex;
  flex-direction: column;
  transition: width .25s cubic-bezier(0, .25, 1, .75);
}

.navbar.vertical.open {
  grid-row: 1/4;
  grid-column: 1;
  padding: 1vh 12px;
  background-color: #17202A;
  color: white;
  border: solid #17202A 0 0 1px 1px;
  opacity: 1;
  height: 100%;
  transition: width .25s cubic-bezier(0, .25, 1, .75);
}


.navbar.vertical img {
  width: 30px;
  height: 30px;
  margin: 0 0 .5rem 0;
  filter: invert(100%);
}

.navbar.vertical img:hover {
  cursor: pointer;
}

.navbar.horizontal {
  grid-row: 1;
  grid-column: 1/4;
  padding: 8px .3rem;
  z-index: 3;
  background-color: white;
  color: #17202A;
  /* border-bottom: solid #17202A 3px; */
  text-align: center;
}

.span.horizontal {
  position: absolute;
  font-size: 24px;
  transform: translateX(-9rem);
  transition: all .25s cubic-bezier(0, .25, 1, .75);
  color: #17202A;
  /* -webkit-text-stroke: 1px #17202A; */
  /* text-shadow:
		-1px -1px 0 #17202A,
		1px -1px 0 #17202A,
		-1px 1px 0 #17202A,
		1px 1px 0 #17202A; */
}

@media (min-width: 768px) {
  .navbar.vertical.open {
    width: 30vw;
  }

  .span.horizontal.open {
    transform: translateX(0rem);
    transition: all .25s cubic-bezier(0, .25, 1, .75);
  }
}

@media (max-width: 767px) {
  .navbar.vertical.open {
    width: 75vw;
  }

  .span.horizontal.open {
    transform: translateX(0rem);
    transition: all .25s cubic-bezier(0, .25, 1, .75);
  }

  .span.horizontal {
    font-size: 18px;
  }
}
