.project-page {
  z-index: 1;
  grid-row: 2;
  grid-column: 2/4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10vh;
}

.project-detail {
  z-index: 1;
  grid-row: 2;
  grid-column: 2/4;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.project-card {
  grid-row: 2;
  grid-column: 2;
  background: white;
  padding: 1rem;
  text-align: center;
  width: 20rem;
}

.project-card img, .project-detail img {
  width: 100%;
  height: auto;
  border: #F2F3F4 solid 5px;
  box-sizing: border-box;
  margin: 0 0 1rem 0;
}


.project-card img:hover {
  /* opacity: .5; */
  background-color: white;
  /* box-shadow: 0 8px black; */
}

.project-card h1 {
  font-size: 1.2rem;
}

.project-card p, a {
  color: black;
}

.project-info {
  width: 35%;
}

.overlay {
  background-color: white;
  opacity: 0;
  z-index: 100;
  position: fixed;
  grid-row: 2;
  grid-column: 2;
  padding: 1rem;
  text-align: center;
  width: 18rem;
  height: 10.5rem;
}

.overlay:hover {
  box-shadow: 0 8px #17202A;
  opacity: .75;
}

.overlay a {
  color: #17202A;
  border: solid #17202A 2px;
  box-sizing: border-box;
  padding: .75rem;
  position: absolute;
  left: 30%;
  top: 30%;
}

.overlay a:hover {
  color: #17202A;
  box-sizing: border-box;
  box-shadow: -2px 2px #17202A;
}

img.carousel-image {
  height: 100%;
  transform: translateX(100%);
  transition: transform .4s cubic-bezier(.2,.8,1,.9);
}

.carousel-image.active {
  transform: translateX(0);
  transition: transform .4s cubic-bezier(.2,.8,1,.9);
}

.carousel-image.deactive {
  transform: translateX(-100%);
  transition: transform .4s cubic-bezier(.2,.8,1,.9);
}

.carousel-image.doubleactive {
  transform: translateX(-200%);
  transition: transform .4s cubic-bezier(.2,.8,1,.9);
}


.inactive {
  opacity: 0;
}

.carousel {
  cursor: url(/images/next_arrow.svg), auto;
  overflow: hidden;
  display: inline-flex;
  width: 60%;
}

.carousel.left {
  cursor: url(/images/left_arrow.svg), auto;
}
