.project-page {
  z-index: 1;
  grid-row: 2;
  grid-column: 2/4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10vh;
}

.project-card {
  grid-row: 2;
  grid-column: 2;
  background: white;
  padding: 1rem;
  text-align: center;
  width: 20rem;
}

.project-card img {
  width: 100%;
  height: auto;
  border: #F2F3F4 solid 5px;
  box-sizing: border-box;
  margin: 0 0 1rem 0;
}

.project-card img:hover {
  opacity: .5;
  background-color: white;
  box-shadow: 0 8px black;
}

.project-card h1 {
  font-size: 1.2rem;
}

.project-card p, a {
  color: black;
}
